<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title%}{% endblock%} | Mi Web Personal</title>
</head>
<body>
    <!-- Cabecera y menu -->
    <h1>My web personal</h1>
    <ul>
        <li><a href="{% url 'home' %}">Portada</a></li>
        <li><a href="{% url 'portfolio' %}">Portfolio</a></li>
        <li><a href="{% url 'about-me' %}">About</a></li>
        <li><a href="{% url 'contact' %}">Contact</a></li>
    </ul>
    <!-- Contenido-->
    {% block content %}{% endblock %}
</body>
</html>